.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f0bd17;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p{align-items: center;}
.div-contador{
  display: flex;
  
 
}
.button-contador {margin: 10px 10px 10px 10px;}

.marginRight {
  margin-right: 50px;
}
.marginLeft {
  margin-left: 50px;
}
.marginNavBar {
  margin-left: 390px
}

.fondoNavBar {background-color: white;}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}

.tamañoCantidad {
  font-size: x-large;
  margin-left: 10px;
  margin-right: 10px;
}
.imagenesProductos {
  height: 75%;
  width: 75%;
}
.agotado {
  color: red;
  font-size: x-large;
}